.techstack-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  /* margin: 1rem 5%; */
}

.techstack-container > div {
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 3rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  border: 2px solid var(--color-black);
  position: relative;
  overflow: hidden;
}
.techstack-container > div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}
.techstack-container > div:hover {
  background: transparent;
  border: 3px dashed var(--color-primary);
}
.techstack-container > div:hover::before {
  height: 100%;
}
.techstack-backend:hover .techstack-content {
  scale: 1.1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}
.techstack-left:hover .techstack-content {
  scale: 1.1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}
.techstack-container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.techstack-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.techstack-details {
  display: flex;
  gap: 1rem;
}
.techstack-details > img {
  width: 30px;
  object-fit: contain;
}
.techstack-details:nth-child(2) {
  display: flex;
}
.techstack-details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}
/* .other-section{
    border: 2px solid red;
} */
.other-section-child {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  justify-content: space-evenly;
  margin-bottom: 1.2rem;
  overflow-x: auto;
}
.other-section-child > div {
  border: 2px solid var(--color-primary);
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.other-section-child > div:hover {
  transform: translateY(-10px);
  box-shadow: var(--box-shadow);
}
.other-section:nth-child(3) img {
  width: 50px;
}
/* -------------------------MEDIA QUERIES (SMALL DIVICES)------------------------- */
@media screen and (max-width: 720px) {
  .techstack-container {
    margin: 0 5%;
  }
  .techstack-container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 600px) {
  .techstack-container {
    grid-template-columns: 1fr;
  }
}
