.App {
  padding-top: 2rem;
  position: relative;
}
.App::before {
  content: "";
  background-color: var(--color-white);
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
